<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popup.js/1.0.0/popup.min.css">
    <style>
        body {
            max-width: 800px;
            margin: auto;
            padding: 2rem;
            font-family: Libre Baskerville, Georgia, serif;
        }
        .dark-mode {
            background-color: black;
            color: white;
        }
        .theme-toggle {
            position: fixed;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
        }
        .theme-icon {
            width: 36px;
            height: 36px;
            fill: grey;
        }
    </style>
</head>
<body class="markdown-body">
    {{ content }}

    <!-- Popup for Download Resume and Contact Me -->
    <div id="popup" class="popup">
        <div class="popup-header"></div>
        <div class="popup-footer">
            <button onclick="downloadResume()">Download Resume</button>
            <button onclick="contactMe()">Contact Me</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popup.js/1.0.0/popup.min.js"></script>
    <script>
        // Function to download the resume
        function downloadResume() {
            const link = document.createElement('a');
            link.href = 'Dev_Prakash_Sharma.pdf'; 
            link.download = 'Dev_Prakash_Sharma.pdf'; 
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

        // Function to contact via email
        function contactMe() {
            window.location.href = 'mailto:idevprakaash@gmail.com'; 
        }

        // Function to show the popup
        function showPopup() {
            popup({
                content: `
                    <div class="popup-header">Would you like to download the resume or contact me?</div>
                    <button onclick="downloadResume()">Download Resume</button>
                    <button onclick="contactMe()">Contact Me</button>
                `,
                closeButton: false,
                showCloseButton: false
            });
        }

        // Function to toggle the theme
        function toggleTheme() {
            const element = document.body;
            element.classList.toggle("dark-mode");
            const sunIcon = document.getElementById('sun-icon');
            const moonIcon = document.getElementById('moon-icon');
            if (element.classList.contains("dark-mode")) {
                moonIcon.style.display = 'block';
                sunIcon.style.display = 'none';
            } else {
                moonIcon.style.display = 'none';
                sunIcon.style.display = 'block';
            }
            localStorage.setItem('darkMode', element.classList.contains('dark-mode'));
        }

        const popupShownKey = 'popupShown';
        const popupShown = localStorage.getItem(popupShownKey);

        if (!popupShown) {
            setTimeout(showPopup, 50000); // ~ 60seconds
            localStorage.setItem(popupShownKey, 'true');
        }

        // Set theme on page load
        document.addEventListener('DOMContentLoaded', function() {
            const darkModeKey = 'darkMode';
            const isDarkMode = localStorage.getItem(darkModeKey) === 'true';
            if (isDarkMode) {
                document.body.classList.add('dark-mode');
            }
        });
    </script>

    <button class="theme-toggle" onclick="toggleTheme()">
        <svg id="sun-icon" class="theme-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1zm0 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm6.364-4.364a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 0 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0zm-12.728 0a1 1 0 0 1 0 1.414L1.414 9.07a1 1 0 1 1-1.414-1.414L1.636 7.636a1 1 0 0 1 1.414 0zM8 0a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1zm7.728 10.728a1 1 0 0 1 1.414 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414zM4.95 2.95a1 1 0 0 1 0-1.414L6.364.636a1 1 0 1 1 1.414 1.414L6.364 2.95a1 1 0 0 1-1.414 0zm6.364 0a1 1 0 0 1 1.414 0l1.414 1.414a1 1 0 1 1-1.414 1.414L11.314 2.95a1 1 0 0 1 0-1.414z"/>
        </svg>
        <svg id="moon-icon" class="theme-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="display:none;">
            <path d="M6.293 14.293a1 1 0 0 1-1.415-1.414 6 6 0 1 0 8.486-8.486 1 1 0 0 1-1.415-1.415 8 8 0 1 1-5.656 5.656z"/>
        </svg>
    </button>
</body>
</html>
